include ../../common-components/head/head.jade

doctype html
html
	+head( 'gamedev' )
	body
	.header
		.logo 
			p Logo
		.nav
			P NavItem 1
			P NavItem 2
			P NavItem 3
			P NavItem 4
	.hero-wrapper
		//- .hero( class="mobile" )
		//- 	div your content
		//- 	div your content
		//- 	div your content
		.hero( class="desktop" )
			.main
				h2 
					| GREAT CONTENT, 
					br
					.orange | VIBRANT COMMUNITIES
				p New frontiers for multiplayer game development await you. Build innovative, cloud-connected multiplayer experiences that foster passionate communities of fans with our suite of integrated tools, backed by the customer support you expect from asdfasdf.
				.learn-more-btn Learn More!
			.totes(id="totes")
				.tote
					h3 Your Content
					p New frontiers for multiplayer game development await you. Build innovative, cloud-connected multiplayer experiences that foster passionate communities
					.tote-learn-more More
				.tote
					h3 Your Content
					p New frontiers for multiplayer game development await you. Build innovative, cloud-connected multiplayer experiences that foster passionate communities
					.tote-learn-more More
				.tote
					h3 Your Content
					p New frontiers for multiplayer game development await you. Build innovative, cloud-connected multiplayer experiences that foster passionate communities
					.tote-learn-more More
				.tote
					h3 Your Content
					p New frontiers for multiplayer game development await you. Build innovative, cloud-connected multiplayer experiences that foster passionate communities
					.tote-learn-more More
			.bgImg
	.wrapper
		h2 What Gamedev gives you

		
			
			

